#mensajesChat{
	height: 200px;
	width: 400px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #F2F2F2;

	padding: 5px;
}